.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem;
}
button {
    transition: all 0.1s ease-in-out;
}

button:active {
    scale: 0.9;
}